dash==2.17.1
dash-bootstrap-components==1.6.0
plotly==6.3.1

scanpy==1.10.4
anndata==0.10.9
numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
h5py==3.12.1
pyyaml==6.0.2
pyarrow==17.0.0

scikit-learn==1.5.2
scikit-misc==0.4.0
igraph==0.11.8
leidenalg==0.10.2
harmonypy==0.2.0
Pillow==10.4.0
kaleido==0.2.1
gunicorn==22.0.0
